<div id='menu' class='grid-item one_whole'>
  <ul>
    <li>
      <a href='#add-todo' id='add-todo'>add</a>
    </li>
    <li>
      <a href='#sign-out' id='sign out'>sign out</a>
    </li>
  </ul>
</div>

<div id='todos' class='grid-item one_whole'>
  <table>
    <thead>
      <th>
        <a href='#' id='order-by-priority'>Priority</a>
      </th>
      <th>
        <a href='#' id='order-by-due_date'>Due Date</a>
      </th>
      <th>
         Description
      </th>
      <th>
         Completed
      </th>
      <th>
         Actions
      </th>
    </thead>

    <tbody>
    </tbody>
  </table>
</div>
