<td><%= priority %></td>
<td><%= due_date %></td>
<td><%= description %></td>
<td><%= completed %></td>
<td>
  <a href='#' class='todo-remove'>remove</a>
  <a href='#' class='todo-edit'=>edit</a>
</td>
